/TOUCH-IDF/build
TOUCH-IDF/dependencies.lock
/TOUCH-IDF/managed_components
/jlc_lvgldemo/08-lcd_lvgl/build
/jlc_lvgldemo/08-lcd_lvgl/managed_components
/MAINIDF/build
/MAINIDF/managed_components
.vscode/
/jlc_lvgldemo/09-wifi_scan_connect/build
/jlc_lvgldemo/09-wifi_scan_connect/managed_components
HARDWARE DOC/~$GPIO.xlsx
